.root {
  width: 100%;
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 56rem;
}

.scroll {
  color: white;
  /* background: blue; */
  font-size: 30rem;
  margin: 0 15rem;
  overflow-y: scroll;
  white-space: nowrap;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.item {
  font-size: 28rem;
  color: white;
  display: inline-block;
  margin: 0 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
}

.item-selected {
  font-size: 30rem;
  font-weight: bold;
}

.indicator {
  margin-bottom: 4px;
  width: 26rem;
  height: 10rem;
}