.swiper {
  width: 100%;
  border-radius: 22rem 22rem 0 0;
  background: white;
  padding-top: 22rem !important;
  padding-bottom: 2rem !important;
}

.swiper-slide {
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.img {
  width: 690rem;
  height: 280rem;
}