.swiper {
  width: 100%;
  background: transparent;
}

.swiper-slide {
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.img {
  width: 690rem;
  height: 280rem;
}