.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.error {
  height: 100%;
  border-radius: 22rem 22rem 0 0;
  background-color: white;
  padding-top: 200rem;
}

.goods-list {
  padding: 0 0 100px 0;
  width: 100vw;
}