.root {
  /* border: 1px solid red; */
  background-color: #FFFFFF;
  height: 96rem;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
  width: 100vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20rem;
}

.operation {
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 45rem;
  height: 45rem;
  margin-top: 6rem;
}

.name {
  font-size: 18rem;
  font-weight: 400;
  color: #7F7F7F;
  margin-bottom: 2rem;
}

.btn {
  display: flex;
  align-items: center;
}

.add {
  width: 190rem;
  height: 70rem;
  background: linear-gradient(117deg, #FAD711 0%, #FEB00C 100%);
  border-radius: 37rem;
  text-align: center;
  font-size: 24rem;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 70rem;
}

.buy {
  width: 190rem;
  height: 70rem;
  background: linear-gradient(130deg, #F97106 0%, #F8240B 100%);
  border-radius: 37rem;
  text-align: center;
  font-size: 24rem;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 70rem;
  margin-left: 18rem;
}