.root {
  margin: 10rem 30rem;
  height: 62rem;
  border-radius: 31rem;
  background: white;
  padding: 0 28rem;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.search {
  width: 32rem;
  height: 32rem;
}

.input {
 /* background: yellow; */
 height: 100%;
 line-height: 62rem;
 padding: 0 12rem;
 flex: 1 1 auto;
 color: #685D5B;
 font-size: 28rem;
}

.camera {
  width: 40rem;
  height: 34rem;
}

.scanner {
  width: 32rem;
  height: 32rem;
}

.line {
  background-color: #D8D8D8;
  /* background: blue; */
  margin: 0 16rem;
  width: 1px;
  height: 22rem;
}