.root {
  margin: 24rem 20rem 0 20rem;
  border-radius: 20rem;
  background-color: white;
}

.row-price-container {
  display: flex;
  align-items: center;
}

.row-price-container-left {
  display: flex;
  align-items: center;
}

.row-price-container-right {
  color: #7F7F7F;
  font-size: 28rem;
}